<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>VinoVault</title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>VinoVault</h1>
    <a href="/users/<%= user._id %>/vinos/new">Add a New Wine</a>
    <ul>
<% vinos.forEach((wines)=>{ %>
<a href="/users/<%= user._id %>/vinos/<%= vinos._id %>"><li><%= wines.name %> <%= wines.year %></a>, <%= wines.winery %>, <%= wines.category %>. 
  <%= wines.type %>, Region: <%= wines.region %>, Rating: <%= wines.rating %>, Notes <%= wines.notes %>, 
  Flavor Prolfile: <%= wines.flavorProfile %></li>
<% }) %>
    </ul>
  </body>
</html>