<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/show.css" />
    <title><%= vinos.name %></title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <h1><%= vinos.name %> <%= vinos.year %></h1>
    <p><%= vinos.winery %>, <%= vinos.category %>.</p>
    <p><%= vinos.type %>, Region: <%= vinos.region %></p>
    <p>Rating: <%= vinos.rating %></p>
    <% if (vinos.notes) { %> 
        <p> Notes <%= vinos.notes %></p> 
        <% } %>
    <p> Flavor Profile: <%= vinos.flavorProfile %></p>
    <a href="/users/<%= user._id %>/vinos/<%= vinos._id %>/edit">
      <button type="submit">Edit this Wine</button> 
    </a>
    <form action="/users/<%= user._id %>/vinos/<%= vinos._id %>?_method=DELETE"
      method="POST" onsubmit="return confirm('Are you sure you want to delete this wine?')">
      <button type="submit">Delete Wine</button>
    </form>
  </body>
</html>










