<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/vinovault.css" />
    <title>Shaina's Visitors</title>
  </head>
  <body class="index-body">
    <%- include('../partials/_navbar.ejs') %>
    <div class="hero-text">
      <h1>Pair Your Wine with Your Board</h1>
    </div>
    <section class="hero">
      <ul>
        <% wines.forEach((wine)=>{ %> 
          <li><a class="authlinks" href="/users/<%= user._id %>/vinos/<%= wine._id %>"> <%= wine.name %> <%= wine.year %></a> 
            <%= wine.winery %>, <%= wine.category %></li>
            <% }) %>
          </ul>
        </section>
      
      </body>
      </html>